<div class="row">
    <div class="col-sm-12 col-md-4 form-group ">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-row">
                <div id="service-data" ngModelGroup="serviceData">
                    <div class="form-group col-md-12 padding-component">
                        <label>Nazwa usługi</label>
                        <input 
                            class="form-control form-control-lg"
                            name="nameService"
                            [(ngModel)]="newHairService.nameService" 
                            required
                            #nameService="ngModel"/> 
                            <span class="help-block" *ngIf="!nameService.valid && nameService.touched">To pole nie może być puste</span>
                    </div>
                    <button 
                        class="btn btn-default"
                        type="button"
                        (click)="suggestValue()">
                        Wypełnij pola domyślnie
                    </button>
                    <div class="form-group col-md-12 padding-component">
                        <label>Cena</label>
                        <input class="form-control form-control-lg" placeholder="Price"
                            name="price" 
                            [(ngModel)]="newHairService.price"
                            required/> 
                    </div>
                </div>
                <div class="form-group padding-component">
                    <label>Czas wykonania usługi</label>
                        <input class="form-control form-control-lg" placeholder="Time"
                            name="serviceTime" 
                            [(ngModel)]="newHairService.serviceTime"/> 
                </div>
                <p>Wybierz rodzaj klienta</p>
                <div class="radio padding-component" *ngFor="let typeName of typeService">
                    <label>
                        <input 
                        type="radio"
                        name="typeService"
                        ngModel
                        [value]="typeName">
                        {{typeName}}
                    </label>
                </div>
                <div class="form-group padding-component">
                    <label></label>
                    <button class="btn btn-primary btn-lg btn-block" 
                    type="submit"
                    [disabled]="!f.valid"
                    >Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
