<div ><p class="title">Edycja wybranego elementu</p></div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4 form-group">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-row">
                <div class="form-group col-md-12 padding-component">
                    <label>Nazwa usługi</label>
                    <input 
                        class="form-control form-control-lg"
                        name="nameService"
                        [(ngModel)]="editHairService.nameService" 
                        required
                        #nameService="ngModel"
                    /> 
                        <span class="help-block" *ngIf="!nameService.valid && nameService.touched">To pole nie może być puste</span>
                </div>
                <div class="form-group col-md-12 padding-component">
                    <label>Cena</label>
                    <input class="form-control form-control-lg" placeholder="Price"
                        name="price" 
                        [(ngModel)]="editHairService.price"
                        required/> 
                </div>
                <div class="form-group padding-component">
                    <label>Czas wykonania usługi</label>
                        <input type="time" class="form-control form-control-lg"
                            name="serviceTime" 
                            [(ngModel)]="editHairService.serviceTime"
                        /> 
                </div>
                <p class="padding-p-component">Wybierz rodzaj klienta</p>
                <div class="form-group padding-component">
                    <select 
                        name="typeServiceName" 
                        id="typeServiceName" 
                        [ngModel]="editHairService.typeService" 
                        class="drop-down form-control">
                        <option
                        *ngFor="let typeName of typeServiceList"
                        [value]="typeName.typeService_Name"
                        > {{typeName.typeService_Name}}</option>
                    </select>
                </div> 
                <div class="form-group padding-component">
                    <label></label>
                    <button class="btn btn-primary btn-lg btn-block" 
                    type="submit"
                    [disabled]="!f.valid"
                    >Zapisz</button>
                </div>
            </div>
        </form>
    </div>
</div>