<div class="scrollable-div">
  <div *ngIf="serivcesList">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-1" *ngIf="visibleButton">
        <button class="btn btn-primary" (click)="AddServiceClick()">Dodaj</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <table class="table table-striped table-bordered table-sm">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nazwa </th>
              <th>Cena </th>
              <th>Czas realizacji</th>
              <th>Rodzaj klienta</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of serivcesList">
              <td>{{ item.id }}</td>
              <td>{{ item.nameService }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.serviceTime }}</td>
              <td>{{ item.typeService }}</td>
              <td style="width: 200px;">
                <button class="btn btn-primary button-options" (click)="EditServiceClick(item.id)" >Edytuj</button>| 
                <button class="btn btn-primary button-options">Usuń</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
